site_name: Documentaci贸 mapicgc-gl-js 
site_url: https://autogitlab.icgc.local/geostarters/icgc/mapicgc/mapicgc-doc
site_description: Documentaci贸 i exemples llibreria mapicgc-gl-js.
site_author: geostart
theme:
  name: 'material'
  language: 'ca'
  palette: 
    - scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  highlightjs: true
  suppress_nextprev: true
  features:
    - navigation.expand
    - content.code.copy
extra_css:
  - 'stylesheets/extra.css'
markdown_extensions:
  - codehilite:
      linenums: True
  - admonition
  - pymdownx.magiclink
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - footnotes
  - tables
  - attr_list
repo_url: "https://autogitlab.icgc.local/geostarters/icgc/mapicgc/mapicgc-doc"

nav:
-  Inici: index.md

- 'Instal路laci贸':
  - 1.1. Via NPM: 1.1.Inst_npm.md  
  - 1.2. Via CDN: 1.2.Inst_cdn.md

- 'Exemples':  
  - 2.1.Exemples: 2.1.Exemples.md

- 'Documentaci贸':  
  - 3.1.Funcions: 3.1.Funcions_doc.md

- Preguntes Freq眉ents: faq.md

plugins:
    - search